/* custom scrollbar */
::-webkit-scrollbar {
	max-height: 11px;
	width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
	background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* ----------------------------------------------------------------------------------------------------- */

/* global element styling */
*,
html {
	font-family: "Oswald", sans-serif;
	font-size: 18px;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center;
}
body {
	width: 100vw;
	overflow-x: hidden;
}
li {
	list-style: none;
}
span {
	font-size: 16px;
	color: #555;
}
h1 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
}

/* nav styling */

nav {
	width: 100%;
	height: 50px;
	background: #ff66ff;
}
nav .gridRight {
	float: right;
	height: 100%;
}
nav .gridRight #auth {
	margin: 10px !important;
}
nav .gridLeft {
	float: left;
}
nav .gridLeft ul {
	display: flex;
	margin: 5px 10px !important;
	padding: 0 !important;
}
nav .gridLeft ul li h3 {
	margin: 5px 10px !important;
}
section#dashboard {
	height: 100%;
	width: 100vw;
	margin: 0 !important;
	padding: 0 !important;
}
section#dashboard #jumbotron {
	height: 320px;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
section#dashboard #jumbotron #chart {
	height: 300px;
	width: 90vw;
	padding: 0 !important;
	margin: 0 5vw !important;
}

section#dashboard #itemCardContainer {
	height: 500px;
	width: 100vw;
	margin: 0 !important;
	padding: 0 !important;
	display: flex;
	overflow-y: auto;
}
section#dashboard #itemCardContainer .itemCard {
	margin: 100px 20px !important;
	height: 300px;
	min-width: 200px !important;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: 0.2s;
	cursor: pointer;
}

.itemCard:hover {
	transform: translateY(-1rem);
}

.itemCard:not(:first-child) {
	margin-left: -130px;
}
section#inventory {
	height: 100%;
	width: 100vw;
	padding: 0 !important;
	margin: 0 !important;
}
section#inventory #addItemCard {
	margin: 100px auto !important;
	height: 400px;
	width: 300px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section#inventory #addItemCard span {
	border-bottom: 1px solid #000;
}
section#inventory #addItemCard input {
	text-align: left !important;
	outline: none;
	height: 25px;
	width: 250px;
	margin-bottom: 30px !important;
	border: 0;
	border-bottom: 1px solid #ff66ff;
}
section#inventory #addItemCard input:focus-within {
	height: 22px;
	border-bottom: 3px solid #ff66ff;
}
section#inventory #addItemCard input:hover {
	height: 22px;
	border-bottom: 3px solid #ff66ff;
}
section#inventory #addItemCard #saveItemBtn {
	color: #3cb043;
	margin-top: 10px !important;
	height: 43px;
	width: 80px;
	border-radius: 10px;
}
section#inventory #addItemCard #saveItemBtn:hover {
	border: 3px solid #3cb043;
	height: 40px;
}
footer {
	width: 100vw;
	height: 60px;
	background-color: #888;
	padding-top: 2vh !important;
	bottom: 0 !important;
}
footer #contactDetails {
	margin: 10px auto !important;
}

@media only screen and (max-width: 600px) and (max-width: 540px) and (max-width: 375px) {
}
